/* DESKTOP ----------------------------------------------------- DESKTOP */

body { 
    margin: 0px;
    overflow-x: hidden;
    background-color: #2b5f7a;
}

.hold-text2 {
    position: absolute;
    display: inline-block;
    width: 40%;
    left: 6%;
    top: 40%;
}

.sec1 {
    position: fixed;
    display: inline-block;
    width: 100%;
    height: 7vw;
    background-color: #2b5f7a;
    user-select: none;
    z-index: 2;
    box-shadow: 5px 0px 20px;
}


.p-button2 {
    position: absolute;
    display: inline-block;
    left: 85%;
    width: 15%;
    height: 100%;
    background-color: #2b5f7a;
    border-left: 2px solid white;
    transition: all 300ms ease-in-out;
}

.p-button2:hover {
    position: absolute;
    display: inline-block;
    left: 85%;
    width: 15%;
    height: 100%;
    background-color: #869cb3;
    border-left: 2px solid white;
    transition: all 300ms ease-in-out;
}

.p-text {
    position: absolute;
    display: inline-block;
    font-size: 20px;
    width: 72px;
    height: 25px;
    left: 50%;
    margin-left: -36px;
    top: 50%;
    margin-top: -12.5px;
    color: white;
    transition: all 300ms ease-in-out;
}

.p-button2:hover .p-text {
    position: absolute;
    display: inline-block;
    font-size: 20px;
    width: 72px;
    height: 25px;
    left: 50%;
    margin-left: -36px;
    top: 50%;
    margin-top: -12.5px;
    color: #2b5f7a;
    transition: all 300ms ease-in-out;
}

.sec0 {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 39vw;
    top: 7vw;
    background-color: #2b5f7a;
    user-select: none;
}

.p2 {
    position: absolute;
    color: white;
    text-align: center;
    user-select: none;
}

.sec2 {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 39vw;
    top: 46vw;
    background-color: #869cb3; 
}

.sec2-text {
    position: absolute;
    color: white;
    left: 50%;
    top: 20%;
    font-size: 1vw;
    user-select: none;
    width: 40vw;
    height: 300px;
    text-align: center;
}

.tsignal {
    position: absolute;
    width: 25%;
    left: 15vw;
    top: 15%;
    user-select: none;
    box-shadow: 4px 4px 20px;
    border-radius: 15vw
}

.sec3 {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 39vw;
    top: 85vw;
    background-color: #2b5f7a;  
}

.sec3-text {
    position: absolute;
    color: white;
    left: 10%;
    top: 20%;
    font-size: 1vw;
    user-select: none;
    width: 40vw;
    height: 300px;
    text-align: center;
}

.money {
    position: absolute;
    width: 25%;
    left: 58%;
    top: 15%;
    user-select: none;
    box-shadow: 4px 4px 20px;
    border-radius: 15vw
}

.sec4 {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 39vw;
    top: 124vw;
    background-color: #869cb3;  
}

.sec4-text {
    position: absolute;
    color: white;
    left: 50%;
    top: 20%;
    font-size: 1vw;
    user-select: none;
    width: 40vw;
    text-align: center;
}

.sec5 {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 39vw;
    top: 163vw;
    background-color: #2b5f7a;
}

.sec6 {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 39vw;
    top: 202vw;
    background-color: #869cb3; 
}

.tool {
    position: absolute;
    width: 25%;
    left: 15vw;
    top: 15%;
    user-select: none;
    box-shadow: 4px 4px 20px;
    border-radius: 15vw
}

.footer {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 15vw;
    top: 241vw;
    background-color: #2b5f7a;  
}

.text-contact {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 1vw;
    left: 10vw;
    top: 20%;
    user-select: none;
}

.contact {
    font-size: 1.5vw;
    user-select: none;
}

.facebook {
    position: absolute;
    width: 2vw;
    left: 57%;
    top: 28%;
    user-select: none;
}

.twitter {
    position: absolute;
    width: 4.5vw;
    left: 67%;
    top: 30%;
    user-select: none;
}

.instagram {
    position: absolute;
    width: 4vw;
    left: 77%;
    top: 30%;
    user-select: none;
}

.turn-hold {
    position: absolute;
    display: inline-block;
    width: 120px;
    height: 70px;
    left: 50%;
    margin-left: -60px;
    top: 50%;
    margin-top: -35px;
}

.turn {
    position: absolute;
    user-select: none;
    width: 100%;
    height: 100%;
}

.heading-size {
    font-size: 5vw;
}

.p-size {
    text-align: center;
    font-size: 150%;
}

.vid {
    position: absolute;
    width: 40vw;
    height: 30vw;
    left: 50vw;
    margin-left: -20vw;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 2px 2px 10px;
}

.purchase {
    position: absolute;
    display: inline-block;
    color: white;
    top: 15%;
    width: 100%;
    font-size: 4vw;
    text-align: center;
}

.purchase-b {
    position: absolute;
    display: inline-block;
    width: 150px;
    height: 100px;
    background-color: red;
    left: 50%;
    margin-left: -75px;
    top: 40%;
}

/* MOBILE ----------------------------------------------------- MOBILE */

@media only screen and (max-width: 600px) {
   
body { 
    margin: 0px;
    overflow-x: hidden;
}


.sec1 {
    position: fixed;
    display: inline-block;
    width: 100%;
    height: 15vw;
    background-color: #2b5f7a;
    user-select: none;
    z-index: 2;
}

.sec0 {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 80vw;
    top: 20vw;
    background-color: #2b5f7a;
    user-select: none;
}

.p2 {
    position: absolute;
    color: white;
    text-align: center;
    user-select: none;
}

.sec2 {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 140vw;
    top: 100vw;
    background-color: #869cb3; 
}

.sec2-text {
    position: absolute;
    color: white;
    left: 50%;
    margin-left: -40%;
    top: 40%;
    font-size: 1vw;
    user-select: none;
    width: 80vw;
    height: 300px;
    text-align: center;
}

.tsignal {
    position: absolute;
    width: 30%;
    left: 50%;
    margin-left: -15%;
    top: 10%;
    user-select: none;
}

.sec3 {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 140vw;
    top: 240vw;
    background-color: #2b5f7a;  
}

.sec3-text {
    position: absolute;
    color: white;
    left: 50%;
    margin-left: -40%;
    top: 40%;
    font-size: 1vw;
    width: 80vw;
    height: 300px;
    text-align: center;
    user-select: none;
}

.money {
    position: absolute;
    width: 30%;
    left: 50%;
    margin-left: -15%;
    top: 10%;
    user-select: none;
}

.sec4 {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 140vw;
    top: 380vw;
    background-color: #869cb3;  
}

.sec4-text {
    position: absolute;
    color: white;
    left: 50%;
    margin-left: -40%;
    top: 40%;
    font-size: 1vw;
    user-select: none;
    width: 80vw;
    text-align: center;
}

.tool {
    position: absolute;
    width: 30%;
    left: 50%;
    margin-left: -15%;
    top: 10%;
    user-select: none;
}

.sec5 {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 140vw;
    top: 520vw;
    background-color: #2b5f7a;
}

.sec6 {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 140vw;
    top: 660vw;
    background-color: #869cb3; 
}

.footer {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 30vw;
    top: 800vw;
    background-color: #2b5f7a;  
}

.text-contact {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 2vw;
    left: 10vw;
    top: 20%;
    user-select: none;
}

.contact {
    font-size: 3vw;
    user-select: none;
}

.facebook {
    position: absolute;
    width: 3.5vw;
    left: 57%;
    top: 28%;
    user-select: none;
}

.twitter {
    position: absolute;
    width: 6.5vw;
    left: 67%;
    top: 30%;
    user-select: none;
}

.instagram {
    position: absolute;
    width: 6vw;
    left: 77%;
    top: 30%;
    user-select: none;
}

.turn {
    position: absolute;
    user-select: none;
}

.heading-size {
    font-size: 5vw;
}

.p-size {
    text-align: center;
    font-size: 500%;
    user-select: none;
}

.vid {
    position: absolute;
    width: 50vw;
    height: 40vw;
    left: 50vw;
    margin-left: -25vw;
    top: 50%;
    transform: translateY(-50%);
} 
}